{% extends "teams/base.html" %}
{% load static %}
{% load render_bundle from webpack_loader %}

{% block style %}
{{ block.super }}
{% render_bundle 'hunts_stats' 'css' %}
{% endblock %}
{% block webpack_script %}
{% render_bundle 'hunts_stats' 'js' attrs='defer' %}
{% endblock %}

{% block page_header %}
<h1>Stats</h1>
{% endblock %}

{% block content %}
<div class="accordion" id="stats">
	{% for id, heading, content in stats %}
	<div class="accordion-item">
		<h5 class="accordion-header" id="heading-{{ id }}">
			<button
				class="accordion-button{% if not forloop.first %} collapsed{% endif %}"
				type="button"
				data-bs-toggle="collapse"
				data-bs-target="#collapse-{{ id }}"
				aria-controls="collapse-{{ id }}"
			>
				{{ heading }}
			</button>
		</h5>
		<div
			id="collapse-{{ id }}"
			class="accordion-collapse collapse"
			aria-labelledby="heading-{{ id }}"
			data-bs-parent="#stats"
		>
			<div class="accordion-body">
				{{ content }}
			</div>
		</div>
	</div>
	{% endfor %}
</div>
{% endblock %}
