#puzzle-flavour {
	font-size: 90%;
	font-style: italic;
	color: #555;
}

#flavour-intro {
	font-size: 100%;
	font-style: normal;
	font-weight: bold;
	color: #333;
}

#answer-button {
	width: 55px;
	height: 55px;
	padding: 0;
	overflow: hidden;
	position: relative;
	margin-left: 5px;
	vertical-align: top;
}

#answer-button[disabled] {
	opacity: 1;
	filter: alpha(opacity=1);
	background: #ccc;
	color: #777;
	border-color: #bbb;
}

#answer-button svg {
	position: absolute;
	left: 0;
	top: 0;
	/* permit tooltip even when the button is disabled */
	pointer-events: auto;
	/* but don't change the cursor */
	cursor: auto;
}

#answer-entry {
	height: 53px;
	border-radius: 4px;
	font-size: 21px;
}

#answer-border {
	border: 1px solid #ccc;
	border-radius: 4px;
	display: inline-block;
}

@keyframes fade {
    0%   {opacity: 1}
    100% {opacity: 0}
}

.fading-message-container {
    animation: fade 2s ease 5s 1;
}

.fading-message {
    margin: auto 0 auto 1em;
}

.submission-error-container {
    display: flex;
}

#guesses td, #guesses th {
    padding: 3pt 6pt;
}

section {
    margin-bottom: 1em;
}

section.puzzle-grow {
    height: 75vh;
}

section:not(:last-child):after {
    content: "";
    display: block;
    margin: 1em 0 0 0;
    height: 1px;
    background: linear-gradient(to right, white 0%, #ccc 25% 75%, white 100%);
}

iframe#runtime {
    border: none;
    overflow: hidden;
    height: 100%;
    width: 100%;
}

#notification-button {
    float: right;
    font-size: 1.5rem;
    text-shadow: 0 0 6px white;
}

.popover label {
    margin-bottom: 0;
}
