{% extends "teams/base.html" %}

{% load django_bootstrap5 %}

{% block content %}
	<h1>Account</h1>

	<div class="row">
		<div class="col-lg-6 mb-3">
			<div class="card">
				<h2 class="card-header">Update your details</h2>
				<div class="card-body">
					<form  action="" method="post">
						{% csrf_token %}
						{% bootstrap_form user_form layout='horizontal' %}
						<h3>Details for {{ request.tenant }}</h3>
						{% if attendance_formset %}
							{% bootstrap_formset attendance_formset layout='horizontal' %}
						{% endif %}
						{% bootstrap_button "Update" %}
					</form>
				</div>
			</div>
		</div>

		<div class="col-lg-6 mb-3">
			<div class="card">
				{% if request.user.has_usable_password %}
					<h2 class="card-header">Change your password</h2>
					<div class="card-body">
						<form action="{% url 'account_change_password' %}" method="post">
							{% csrf_token %}
							{% bootstrap_form password_form layout='horizontal' %}
							{% bootstrap_button "Change Password" %}
						</form>
					</div>
				{% else %}
					<h2 class="card-title">Set a password</h2>
					<div class="card-body">
						<form action="{% url 'account_set_password' %}?next={{ request.get_full_path | urlencode }}" method="post">
							{% csrf_token %}
							{% bootstrap_form password_form layout='horizontal' %}
							{% bootstrap_button "Set Password" %}
						</form>
					</div>
				{% endif %}
			</div>
		</div>

		<div class="col-lg-6 mb-3">
			<div class="card">
				<h2 class="card-header">Linked Accounts</h2>
				<div class="card-body">
				{% if social_accounts %}
					<p>Your account is linked to the following third-party accounts:</p>
					<ul class="socialaccount_providers">
						{% for account in social_accounts %}
							{% if account.url %}<a href="{{ account.url }}">{% endif %}
								<li class="socialaccount_provider {{ account.type }}">{{ account.type }}: {{ account.name }}</li>
							{% if account.url %}</a>{% endif %}
						{% endfor %}
					</ul>
				{% endif %}
				{% url 'socialaccount_connections' as manage_url %}
				<br />
				<p>{% bootstrap_button "Manage linked accounts" href=manage_url %}</p>
				</div>
			</div>
		</div>
	</div>
{% endblock %}
