<!--
  - Copyright (C) 2022-2023 The Hunter2 Contributors.
  -
  - This file is part of Hunter2.
  -
  - Hunter2 is free software: you can redistribute it and/or modify it under the terms of the GNU Affero General Public License as published by the Free
  - Software Foundation, either version 3 of the License, or (at your option) any later version.
  -
  - Hunter2 is distributed in the hope that it will be useful, but WITHOUT ANY WARRANTY; without even the implied warranty of MERCHANTABILITY or FITNESS FOR A
  - PARTICULAR PURPOSE.  See the GNU Affero General Public License for more details.
  -
  - You should have received a copy of the GNU Affero General Public License along with Hunter2.  If not, see <http://www.gnu.org/licenses/>.
  -->
<template>
  <svg width="2em" height="2em" :title="hover_info">
    <g transform="translate(2 2)">
      <circle
        v-if="state.state === 'not_opened'"
        :cx="size/2"
        :cy="size/2"
        :r="size/2"
        fill-opacity="0.1"
        stroke="#666"
        stroke-opacity="0.2"
        stroke-width="2"
      />
      <g v-else-if="state.state == 'solved'">
        <circle
          :cx="size/2"
          :cy="size/2"
          :r="size/2"
          fill="#090"
          fill-opacity="0.25"
          stroke="#090"
          stroke-opacity="0.5"
          stroke-width="2"
        />
        <text
          :x="size/2"
          :y="size/2"
          text-anchor="middle"
          dominant-baseline="middle"
          fill="#080"
        >✔</text>
      </g>
      <g v-else>
        <path
          :title="state.latest_guess"
          fill="red"
          :fill-opacity="activeOpacity(state.latest_guess)"
          stroke="#622"
          stroke-opacity="0.5"
          stroke-width="2px"
          :d="drawPie(state.time_on)"
        />
        <text
          v-if="!state.hints_scheduled"
          :x="size/2 - 6"
          :y="size/2"
          text-anchor="middle"
          dominant-baseline="middle"
          font-weight="bold"
          font-size="150%"
        >!</text>
      </g>
    </g>
  </svg>
</template>
<script>
import {DateTime} from 'luxon'

export default {
  props: {
    state: {
      required: true,
      type: Object,
    },
  },
  data: function () {
    return {
      size: 25,
    }
  },
  computed: {
    hover_info: function() {
      return `${this.state.guesses} guesses`
    },
  },
  methods: {
    activeOpacity: function(time) {
      if (time === null) {
        return 0
      }
      let dur = -DateTime.fromISO(time).diffNow().as('seconds')
      let opacity = 1.0 / ((dur / 600) + 1)
      return opacity
    },
    drawPie: function(amount) {
      let size = 25
      let proportion = 0
      if (amount != 0) {
        // proportion = 1-Math.exp(-amount/10)
        // proportion = 1-Math.pow(1.5, -Math.log(1+amount)/Math.log(15))
        proportion = 1 - 1/(1+amount/3600)
        // proportion = Math.log2(amount)
      }
      let angle = (proportion * Math.PI * 2) - Math.PI / 2
      let x = Math.cos(angle) * size/2 + size/2
      let y = Math.sin(angle) * size/2 + size/2
      let large = (proportion < 0.5) ? 0 : 1
      let pathString = 'M ' + size / 2 + ', ' + size/2 +
        'l 0, ' + (-size/2).toString() +
        'A ' + size/2 + ',' + size/2 + ' 0 ' + large + ' ' + ' 1 ' + x + ',' + y +
        'z'
      return pathString
    },
  },
}
</script>
