<template>
  <div class="alert-list">
    <div
      v-for="[id, announcement] in announcements"
      :key="id"
      :class="'alert alert-' + announcement.variant + (announcement.dismissible ? ' alert-dismissible' : '')"
    >
      <!-- eslint-disable-next-line vue/no-v-html -- Announcements are admin generated content -->
      <h2 v-html="announcement.title" /><p v-html="announcement.text" />
      <button
        v-if="announcement.dismissible"
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      />
    </div>
    <div
      v-for="message in messages"
      :key="message.text"
      :class="'alert alert-dismissible alert-' + message.variant"
      role="alert"
    >
      <p>{{ message.text }}</p>
      <button
        type="button"
        class="btn-close"
        data-bs-dismiss="alert"
        aria-label="Close"
      />
    </div>
  </div>
</template>
<script>
import 'bootstrap/js/dist/alert'
import 'bootstrap/js/dist/button'

export default {
  props: {
    announcements: {
      required: true,
      type: Map,
    },
    messages: {
      required: true,
      type: Array,
    },
  },
}
</script>
<style lang="scss" scoped>
h2 {
    font-size: 1.2em;
    display: inline;
    margin-right: 0.5em;
}

p {
    display: inline;
}
</style>
